@page "/"
@using Microsoft.AspNetCore.Authorization

@attribute [AllowAnonymous]
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Welcome to Main Website</h1>

<p>This is the main website portal. Users can sign up and log in directly through Keycloak.</p>

